 body {
  position: relative;
  display: grid;
  text-align: center;
  background-color: #fff;
  padding: 0;
}

#authenticationpage main {
  display: inline-block;
  width: 599px;
  height: 900px;
  padding: 10px;
  margin: 0 auto;
  background-color: #fff;
  border: solid 5px black;
  border-radius: 5px;
}

#authenticationpage h1 {
  font-family: "Open Sans", Arial, sans-serif;
  vertical-align: text-top;
}

#authenticationpage h2 {
  font-family: "Open Sans", Arial, sans-serif;
  display: inline-block;
}

#authenticationpage .authButton {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  background-color: #00000000;
  color: #00000000;
  width: 150px;
  height: 150px;
  margin: 5px 50px;
}

#authenticationpage .buttonImg {
  width: 150px;
  height: 150px;
  margin: 5px 50px;
}

#authenticationpage .authDiv {
  display: inline-block;
}

#authenticationpage #userDiv {
  text-align: center;
}

#authenticationpage #userProfile {
  height: 30px;
  width: 30px;
  display: inline-block;
}

#authenticationpage #authSect { 
  text-align: center;
}

#authenticationpage .buttonLabel {
  display: block;
  font-family: "Open Sans", Arial, sans-serif;
  display: inline-block;
}

#authenticationpage .authButton {
  
}

#authenticationpage #back {
  display: inline-block;
  width: 40%;
  height: auto;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 30px;
}

/**
I'll find a method to insert images in the buttons
**/

/*This applies from 600px onwards (desktop)*/
@media (min-width: 600px) {
  body {
    
  }
}
