body {
  position: relative;
  display: grid;
  text-align: center;
  background-color: #fff;
  padding: 0;
}

main {
  display: inline-block;
  width: 599px;
  height: 900px;
  padding: 10px;
  margin: 0 auto;
  background-color: #fff;
  border: solid 5px black;
  border-radius: 5px;
}

h1 {
  font-family: "Open Sans", Arial, sans-serif;
  vertical-align: text-top;
}

h2 {
  font-family: "Open Sans", Arial, sans-serif;
  display: inline-block;
}

input[type="button"] {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  background-color: #AA0004;
  color: #B99697;
  width: 150px;
  height: 150px;
  margin: 5px 50px;
}

label {
  font-family: "Open Sans", Arial, sans-serif;
  display: inline-block;
}

.buttonImg {
  width: 150px;
  height: 150px;
  margin: 5px 50px;
}

.authDiv {
  display: inline-block;
}

#userDiv {
  text-align: center;
}

#userProfile {
  height: 30px;
  width: 30px;
  display: inline-block;
}

form {
  text-align: center;
}

label[for="enterCode"] {
  display: block;
}

#enterCode {
  display: block;
}

label[for="pushNotif"] {
  display: block;
}

#pushNotif {
  display: block;
}

label[for="phone"] {
  display: block;
}

#phone {
  display: block;
}

label[for="phoneExt"] {
  display: block;
}

#phoneExt {
  display: block;
}

label[for="securQuest"] {
  display: block;
}

#securQuest {
  display: block;
}

#back {
  display: inline-block;
  width: 40%;
  height: auto;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 30px;
}

/**
I'll find a method to insert images in the buttons
**/

/*This applies from 600px onwards (desktop)*/
@media (min-width: 600px) {
  body {
    
  }
}
