#container .header{
  background-color: red;
}
#container .title{
  font-size: 50px;
  color: white;
}
#container #userPf{
  font-size: 38px;
  
}
#container #expic{
  display: block;
  width: 35%;
  height: auto;
  margin: 0 auto;
}
#container #userName{
  text-align: center;
  font-size: 25px;
}
#container .picLinks{
  display: flex;  
}
#container .userInfo,
.userDeposit{
  display: flex;  
  width: 50%;
  flex-direction: column;
  align-items: center;
}
#container .menuButton{
  width: 60px;
}
#container .navContainer{
  float: left;
}
#container .ddMenu{
  background-color: white;
  display: none;
  position: absolute;
  width: 150px;
}
#container .ddMenu a {
  color: black;  
  padding: 12px 16px;  
  text-decoration: none;  
  display: block;
}

#container .dropdown:hover .ddMenu {  
  display: block;
}
#container #personInfo{
  margin-left: 3%;
}
#container #userPf{
  margin-left: 4%;
}

@media (min-width: 580px) {
  #container .userInfo,
  .userDeposit {
    width: 50%;
  }
  #container #userPf{
    font-size: 25px;
  }
  #container #userName{
    font-size: 20px;
  }
  #container .ddMenu{
    font-family: inherit;
    margin: 0;
  }
  
}

@media (max-width: 580px) {
  #container .userInfo,
  .userDeposit {
    width: 80%; 
  }
  #container #expic {
    width: 80%; 
  }
}